.List-1 {
  font-family: sans-serif;
}
.title-1 {
  margin-left: 70px;
}
.Description-1 {
  margin-left: 23px;
}
.type-1 {
  margin-left: 69px;
  width: 150px;
  border-radius: 20px;
}
.probability-1 {
  margin-left: 30px;
  width: 150px;
  border-radius: 20px;
}
.Impact-1 {
  margin-left: 52px;
  width: 150px;
  border-radius: 20px;
}
.btn-1 {
  margin-left: 135px;
}
